# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
# pip-log.txt

# === Jupyter ===
.ipynb_checkpoints/

# === Données & Modèles ===
data/
models/
*.h5
*.db

# === VS Code / IDE ===
.vscode/
.idea/

# === OS ===
.DS_Store
Thumbs.db

# === Logs ===
*.log


# === Envs ===
.env
