name: Tests Unitaires Simples (FastAPI + ML)

on:
  
  push:
  
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]


jobs:
  test:
    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            
            fetch-depth: 0 

      
      - name: Installer Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' 

      
      - name: Installer les dépendances
        run: |
          # Mise à jour de pip
          python -m pip install --upgrade pip
          # Installation des librairies de production (à partir de requirement.txt)
          pip install -r requirement.txt
          # Installation de pytest pour l'exécution des tests
          pip install pytest

      #  Préparer les fichiers de Machine Learning (CV)
      
      - name: Télécharger le classifieur Haar Cascade
        run: |
          # Crée les dossiers si besoin (pour 'models/' et 'tests/test_images/')
          mkdir -p models tests/test_images
          
          # Télécharge le fichier requis par OpenCV pour la détection de visage
          if [ ! -f "haarcascade_frontalface_default.xml" ]; then
            wget https://raw.githubusercontent.com/opencv/opencv/4.x/data/haarcascades/haarcascade_frontalface_default.xml
          fi

      #  Exécuter les tests (Pytest)
      - name: Exécuter Pytest
        run: |
          # Configure le chemin d'importation pour trouver le dossier 'src'
          export PYTHONPATH="$PYTHONPATH:$(pwd):$(pwd)/src"
          # Exécute tous les tests trouvés dans le dossier 'tests/'
          python -m pytest -v